.wrapperSystem {
    min-height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperSystem__Item {
    display: flex;
}

.wrapperSystem__Item__Box {
    border: 2px solid var(--home);
    margin: 0 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    flex-wrap: wrap;

    &:hover {
        transform: scale(1.2);
    }

    span {
        font-size: 20px;
        font-weight: 700;
        user-select: none;
    }
}